<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="../../public/css/jass.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Tech Blog</a></h1>
      <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button class="btn" id="logout">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>

    <footer>
      Happy Blogging!
    </footer>

    {{#if loggedIn}}
      <script src="/public/js/logout.js"></script>
    {{/if}}
  </body>
</html>