<div class="card">
      <a href="/dashboard">Back to dashboard</a>

    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="title-input" class="form-input" />
        <label class="form-label" for="content">Content</label>
        <input id="content-input" class="form-input" />
        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/js/add-post.js"></script>