header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }
  
  .post-content .post-container .post-detail .post-comment{
    display: inline-flex;
    margin: 10px auto;
    width: 100%;
  }
  
  .post-content .post-container .post-detail .post-comment img.profile-photo-sm{
    margin-right: 10px;
  }
  
  .post-content .post-container .post-detail .post-comment .form-control{
    height: 30px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin: 7px 0;
    min-width: 0;
  }
  
  